
<div class="container">
    <div class="row-fluid">
        <div class="row">
            <br/>
            <br/>
            <br />
            <div id="custom-search-input col-md-3">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Dropdown Example
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                </ul>
                <div class="input-group col-md-8">
                    <ng4geo-autocomplete [userSettings]="userSettings" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>                    <span class="input-group-btn">
                        
                    </span>
                </div>
            </div>
        </div>
        <br/>
        <div  *ngIf="visible==true">
            <div class="row row-margin-bottom">
                <div class="col-md-10 no-padding lib-item" data-category="view">
                    <div class="lib-panel">
                        <div class="row box-shadow">
                            <div class="col-md-8">
                                <a data-toggle="modal" data-target=".pop-up-1">
                                    <img class="lib-img-show" src="../../../images/childcare.jpg" /> 

                                </a>
                            </div>
                            <div class="col-md-2">
                                <div class="lib-row lib-header">
                                    Example library
                                    <div class="lib-header-seperator"></div>
                                </div>
                                <div class="lib-row lib-desc">
                                    Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-margin-bottom">
                    <div class="col-md-10 no-padding lib-item" data-category="view">
                        <div class="lib-panel">
                            <div class="row box-shadow">
                                <div class="col-md-8">
                                    <a data-toggle="modal" data-target=".pop-up-1">
                                        <img class="lib-img-show" src="../../../images/childcare.jpg" />

                                    </a>
                                </div>
                                <div class="col-md-2">
                                    <div class="lib-row lib-header">
                                        Example library
                                        <div class="lib-header-seperator"></div>
                                    </div>
                                    <div class="lib-row lib-desc">
                                        Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

        <div class="span4">
            <h2>Snail mail</h2>
            <address>
                <strong>Hythe Window Cleaning</strong><br>
                15 Springfield Way<br>
                Hythe<br>
                Kent<br>
                United Kingdon<br>
                CT21 5SH<br>
                <abbr title="Phone">P:</abbr> 01234 567 890
            </address>
        </div>
    </div>
</div>