
<div class="container">
    <div class="row-fluid">
        <div class="row">
            <br/>
            <br/>
            <br />
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <ng4geo-autocomplete [userSettings]="userSettings"></ng4geo-autocomplete>    
                    <span class="input-group-btn">
                        
                    </span>
                </div>
            </div>
        </div>
        <br/>
        <div class="span8">
            <div id="googleMap" style="width:500px;height:380px;"></div>

            <!--<agm-map [latitude]="lat" [longitude]="lng"></agm-map>-->
        </div>

        <div class="span4">
            <h2>Snail mail</h2>
            <address>
                <strong>Hythe Window Cleaning</strong><br>
                15 Springfield Way<br>
                Hythe<br>
                Kent<br>
                United Kingdon<br>
                CT21 5SH<br>
                <abbr title="Phone">P:</abbr> 01234 567 890
            </address>
        </div>
    </div>
</div>