<div class="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text-uppercase" href="#">Smart StartUp </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">

                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/search']">
                            <span class='glyphicon glyphicon-search'></span> Search
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/mobile']">
                            <span class='glyphicon glyphicon-camera'></span> DataSet visulisations
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/aboutus']">
                            <span class='glyphicon glyphicon-home'></span> About us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class='col-sm-12 body-content'>
        <router-outlet></router-outlet>
    </div>
    <footer class="footer text-center">
        <div class="container">
            <small>@HealthHackers</small>
        </div>
    </footer>
</div>