<div class="container">
    <div class="row">
        <br/>
        <br/>
        <br/>
        <h4>Dataset visulisations</h4>
    </div>
    <hr>
    <div class="row row-margin-bottom">
        <div class="col-md-11 no-padding lib-item" data-category="view">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-6">
                        <a data-toggle="modal" data-target=".pop-up-1">
                       <img class="lib-img-show" src="../../../images/2m and more state wise.jpg" />

                                </a></div>
                    <div class="col-md-4">
                        <div class="lib-row lib-header">
                            AUS - Business Investments 2M > (Year 2016)
                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">                            
                            Donut chart represents total business investments across the Australia by state for year 2016.
                            NSW and Victoria played major role large scale business.

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-11 no-padding lib-item" data-category="ui">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-6">
                        <img class="lib-img" src="../../../images/50k and less state wise.jpg" />
                    </div>
                    <div class="col-md-4">
                        <div class="lib-row lib-header">
                            AUS - Business Investments 50K -200K (Year 2016)
                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">
                            Donut chart represents total business investments across the Australia by state for year 2016.
                            NSW and Victoria played major role small business.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-11 no-padding lib-item" data-category="view">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-6">

                        <img class="lib-img-show" src="../../../images/200k to 2m business state wise.jpg" />
                    </div>
                    <div class="col-md-4">
                        <div class="lib-row lib-header">
                            AUS - Business Investments 200K -2M (Year 2016)
                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">
                            Donut chart represents total business investments across the Australia by state for year 2016.
                            NSW and Victoria played major role medium scale business.                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-11 no-padding lib-item" data-category="ui">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-6">
                        <img class="lib-img" src="../../../images/ages adelaide.jpg" />
                    </div>
                    <div class="col-md-4">
                        <div class="lib-row lib-header">
                            Adelaide demographics bar diagram.
                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">
                            This diagram illustrates demographics of the Adelaide council. This helps for the business to target age group and improve business model.                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-11 no-padding lib-item" data-category="view">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-6">
                        <img class="lib-img-show"src="../../../images/subdivisions.jpg" />
                    </div>
                    <div class="col-md-4">
                        <div class="lib-row lib-header">
                            AUS - Investments in Industry Category (2016)

                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">
                            Donut chart represents the share of each industry type by investments.
                            Construction, Real estate and Technical services played major role in total investments.                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-11 no-padding lib-item" data-category="ui">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-6">
                        <img class="lib-img" src="../../../images/sucess vs unsucess by field-1.jpg" />
                    </div>
                    <div class="col-md-4">
                        <div class="lib-row lib-header">
                            Success and failure ratio by Industry (2016)
                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">
                            This is the Analysis on success and failure ratio by industries in year 2016. According to the data Cultural/ Recreational and personal/other industries are having high success rate.                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-11 no-padding lib-item" data-category="view">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-6">
                        <img class="lib-img-show" src="../../../images/total by state.jpg" />
                    </div>
                    <div class="col-md-4">
                        <div class="lib-row lib-header">
                            Revenue Invested State-wide
                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">
                            The bar graph shows the amount of revenue invested in each state of Australia, and New South Wales and Victoria are the states where lot of investments are seen.                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-11 no-padding lib-item" data-category="ui">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-6">
                        <img class="lib-img" src="../../../images/unsucessful reasons.jpg" />
                    </div>
                    <div class="col-md-4">
                        <div class="lib-row lib-header">
                            Exit Reason Ratio

                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">
                            This bar graph illustrates most frequent failure reasons. Most of the business failed and closed due to personal reasons.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-11 no-padding lib-item" data-category="ui">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-6">
                        <img class="lib-img" src="../../../images/year wise analysis.jpg" />
                    </div>
                    <div class="col-md-4">
                        <div class="lib-row lib-header">
                            Exit Reason Ratio
                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">
                            This bar graph illustrates most frequent failure reasons. Most of the business failed and closed due to personal reasons.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

