<div class="container">
    <br/>
    <br/>
    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About Us
                <small>It's Nice to Meet You!</small>
            </h1>
            <p>
                Currently, the Federal Government, State Governments and Local governments are spending billions of dollars each year on businesses and startups to boost the economy.
                However, the failure rate is on average over 40%. This was even as high as 90% among some sectors in 2010/11.
                Some of the top reasons for failure of a small business include understanding the market needs of the business,
                Failing to identify the best location to start your business and importantly understanding, who the target customer is. Using the ABS Census data,
                Department of Employment's New Enterprise Incentive Scheme data, Workforce data and Business Registration data,
                Smart StartUp have developed a platform that enables Small Business Startups to have the best chance of success.
                This is purely based on available opensource data enabling small business owners to gain an insight for their due diligence and make smarter decisions. 
            </p>
               <p> <i><b>Our purpose is to help Small Businesses make intelligent, informed, supported, smarter decisions and doing what they love to do.</b></i>
            </p>

<p>Smart StartUp can be used as web based as well as a mobile application to enable access when any business decisisons are needed.
For example, if someone wants to search in order to find the location of their target customer group they can do it using this platform.
Additionally they can access the best type of business to focus for their specififc area.
The business startup can gain insight into the success profile of similar small businesses in that geographical area and idenitfy the number of clients available in the area.
 This tool will help startups to identify what business type has more demand, the location to start and who should be the target customer group.
 In the end,  this platform will help startups to be successful in their business and enable Government funding to be utilized assisting a greater success rate.

</p>
        </div>
    </div>

    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Healthy Hackers</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center flip" src="../../../images/20170729_164606.jpg" alt="">
            <h3>
                Sri Udakumbura
                <small>Captain</small>
            </h3>
            <p>Passionate about Data</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center flip" src="../../../images/20170729_164353.jpg" alt="">
            <h3>
                Sravan Rayarapu
                <small>Application Architect</small>
            </h3>
            <p>Love to play with Data and creating Applications</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center flip" src="../../../images/20170729_164408.jpg" alt="">
            <h3>
                Mohamed Tommy Abdalla
                <small>Service Specalist</small>
            </h3>
            <p>Passionate about helping and coordinating</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center flip" src="../../../images/20170729_164426.jpg" alt="">
            <h3>
                Kyile Dayman
                <small>Creative Head</small>
            </h3>
            <p>Creative</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center flip" src="../../../images/20170729_164441.jpg" alt="">
            <h3>
                Muhammad Arbab
                <small>Tech Savy</small>
            </h3>
            <p>Love to meet people and work on new ideas</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center flip" src="../../../images/20170729_164507.jpg" alt="">
            <h3>
                 Rahul Katamneni
                <small>Data Analyst</small>
            </h3>
            <p>Passionate about Data cubes and analytics</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center flip" src="../../../images/20170729_164531.jpg" alt="">
            <h3>
                Rajesh Dara 
                <small>Senior Creative Developer</small>
            </h3>
            <p>Passionate about Development</p>
        </div>
    </div>

    <hr>
</div>