<div class="container">
    <br/>
    <br/>
    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About Us
                <small>It's Nice to Meet You!</small>
            </h1>
            <p>
                Currently, the Federal Government, State Governments and Local governments spending billions of dollars on businesses and startups to boost the economy. However, the failure rate is frustratingly high as average over 40%. This is even very high as 90% among some sectors in 2010/11.

                The top reasons for small business failure include failure understand the market needs of the business, where to start your business and importantly understanding who are target customer groups.

                Using the ABS Census data, Department of Employment's New Enterprise Incentive Scheme data, Workforce data and business registration data, SmartStartUp have developed a platform that enables Small Business Startups to gain the best chance of success. This is purely based on available opensource data do their due diligence and make smarter decisions.   `
                </p>
               <p> <i><b> Our purpose is to help making intelligent, informed, supported, smarter decisions and doing what you love to do.</b></i>
            </p>

<p>SmartStartUp can be used as web based as well as a mobile application when any business to make decisions. For an example, if someone wants to search where to find out their target customer group they can do it using this platform also what business to focus on if they need to be successful. The business startup can gain insight into the success rates of similar small businesses in that geographical area and number of clients available in the area.

<b>This tool will help startups to identify what business has more demand, where to start and who should be their target customer group</b>.

At the end, this platform will help startups to be successful in their business and Governments can get maximum out of their funding in return.

</p>
        </div>
    </div>

    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Healthy Hackers</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center flip" src="../../../images/20170729_164606.jpg" alt="">
            <h3>
                Sri Udakumburo
                <small>Captain</small>
            </h3>
            <p>Passionate about Data</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center flip" src="../../../images/20170729_164353.jpg" alt="">
            <h3>
                Sravan Rayarapu
                <small>Application Architect</small>
            </h3>
            <p>Love to play with Data and creating Applications</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center flip" src="../../../images/20170729_164408.jpg" alt="">
            <h3>
                Mohammed Tommy Abdalla
                <small>Service Specalist</small>
            </h3>
            <p>Passionate about helping and coordinating</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center flip" src="../../../images/20170729_164426.jpg" alt="">
            <h3>
                Kyile Dayman
                <small>Creative Head</small>
            </h3>
            <p>Creative</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center flip" src="../../../images/20170729_164441.jpg" alt="">
            <h3>
                Muhammad Arbab
                <small>Business Analyst</small>
            </h3>
            <p>Business Analyst</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center flip" src="../../../images/20170729_164507.jpg" alt="">
            <h3>
                 Rahul Katamneni
                <small>Data Analyst</small>
            </h3>
            <p>Passionate about Data cubes and analytics</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center flip" src="../../../images/20170729_164531.jpg" alt="">
            <h3>
                Rajesh Dara 
                <small>Senior Creative Developer</small>
            </h3>
            <p>Passionate about Development</p>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright © Your Website 2014</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>

</div>